<div class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <h2>Thanks for your interest!</h2>
        <p>
        <br>
        <br>
        Please fill in the form or send an e-mail to XXX@gamil.com.
        <br>
        <br>
        Not every price is negotiable but every offer is considered
        <br>
        <br>
        Follow us on insta and stay tuned
        <br>
        <br>
        </p>
         <div>
          <%= link_to "https://roomores.com/" do%>
             <button class="btn btn-contact">Instgram</button>
          <% end %>
          </div>
          <div>
          <%= link_to "https://roomores.com/" do%>
             <button class="btn btn-contact">Newsletter</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= form_for @contact do |f| %>
        <div class="col-md-6">
          <%= f.label :name %></br>
          <%= f.text_field  :name, required: true %></br>

          <%= f.label :email %></br>
          <%= f.email_field :email, required: true %></br>

          <%= f.label :product %></br>
          <%= f.text_area :product, rows: 3, cols: 40, 
                placeholder: "Please describe the product accurately as this is a general contact form."%></br>

          <%= f.label :message %></br>
          <%= f.text_area :message, rows: 8, cols: 40, required: true,
                placeholder: "Send me a message"%></br>

          <div class= "hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

      <%= f.submit 'Send Message', class: 'btn-submit' %>
    </div>
    <% end %>
    </div>
  </div>
</div>